DIV.navheader TABLE
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    FONT-FAMILY: veranda, tahoma, helvetica, arial, sans-serif;
    TEXT-ALIGN: left
}
DIV.navfooter TABLE
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    FONT-FAMILY: veranda, tahoma, helvetica, arial, sans-serif;
    TEXT-ALIGN: left
}
DIV.navheader IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
DIV.navfooter IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
DIV.book DIV.titlepage H1.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    FONT-FAMILY: veranda, tahoma, helvetica, arial, sans-serif;
    TEXT-ALIGN: center
}
DIV.book DIV.titlepage H2.subtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    FONT-FAMILY: veranda, tahoma, helvetica, arial, sans-serif;
    TEXT-ALIGN: center
}
DIV.chapter DIV.titlepage H2.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    FONT-FAMILY: veranda, tahoma, helvetica, arial, sans-serif;
    TEXT-ALIGN: left
}
DIV.sect1 DIV.titlepage H2.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    FONT-FAMILY: veranda, tahoma, helvetica, arial, sans-serif;
    TEXT-ALIGN: left
}
DIV.sect1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: veranda, tahoma, helvetica, arial, sans-serif;
    TEXT-ALIGN: left
}
TT
{
    FONT-FAMILY: courier, monospace
}
PRE.screen
{
    COLOR: black;
    BACKGROUND-COLOR: #dddddd
}
PRE.synopsis
{
    COLOR: black;
    BACKGROUND-COLOR: #dddddd
}
DIV.warning
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
DIV.note
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
DIV.important
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
DIV.caution
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    BORDER-BOTTOM: 1px solid
}
DIV.warning H3.title
{
    TEXT-ALIGN: center
}
DIV.warning P
{
    PADDING-LEFT: 0.2in
}
DIV.note
{
    PADDING-LEFT: 0.2in
}
DIV.important
{
    PADDING-LEFT: 0.2in
}
DIV.caution
{
    PADDING-LEFT: 0.2in
}
